html {
    --bg: #FCFCFC;
    --bg-input: #FCFCFC;
    --bg-panel: #EBEBEB;
    --bg-shadow: #000;
    --color-headings: #3664FF;
    --color-text: #333333;
    --color-button: #6c757d;
    --color-button-hover: #6c757d;
    --color-border-success: #40ff8c;
    --color-border-success-dark: #00ff66;
    --color-border-clear: #ff4444;
    --color-border-clear-dark: #ff0000;
}

body {
    background-color: var(--bg);
}

.card,
.card-input {
    background-color: var(--bg-panel);
}

.modal-content {
    background-color: var(--bg-panel);
}

p,
label,
legend,
h1,
h4,
h5,
hr,
th,
td,
a,
:placeholder-shown {
    color: var(--color-text);
}

span {
    text-align: center;
    color: var(--color-border-clear);
}

hr {
    background: var(--color-text);
}

a {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    display: grid;
    text-align: center;
}

a:hover {
    color: var(--color-text);
    text-decoration: none;
    text-shadow: 2px 2px 5px var(--color-text);
}

.card-input {
    background-color: var(--bg-input);
}

.card-cadastro {
    height: 100%;
}

/* BOTAO TEMA */
.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.row {
    justify-content: space-around;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 45px;
    height: 20px;
    background-color: #fff;
    border-radius: 60px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #6c757d;
    border-radius: 60px;
    transition: all 0.4s;
}

.switch--shadow+label:after {
    width: 19px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px var(--bg-shadow);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #B5B5B5;
}

.switch--shadow:checked+label:after {
    transform: translateX(24px);
}

.btnPublicar {
    background: var(--bg);
    align-items: center;
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    color: var(--color-text);
  }
  
  .btnPublicar:hover {
    border: solid 2px var(--color-border-success-dark);
    background: var(--bg-panel);
    color: var(--color-text);
  }
  
  .btnExcluir {
    background: var(--bg);
    align-items: center;
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    color: var(--color-text);
  }
  
  .btnExcluir:hover {
    border: solid 2px var(--color-border-clear-dark);
    background: var(--bg-panel);
    color: var(--color-text);
  }
