@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  --bg-color: #fff;
  --color-border: #ccdded;
  --bg-color2:#16384c;
  --text-light: #fff;
  --bg-button-success:#66bb6a;
  --bg-button-success-dark:#4caf50;
  --bg-button-delete: #e57373;
  --bg-button-delete-dark:#ef5350;
}

body {
  background: #EBEBEB;
}

h2{
  color: var(--bg-color2);
  text-align: center;
  padding-top: 10px;
}

h2 a {  
  color: var(--bg-color2);
  text-decoration: none;
}

h3 {
  text-align: center;
  color: var(--text-light);
  padding-bottom: 5px;
}

.container {
  width: 100%;
  margin: 20px auto;
  display: grid;
  justify-content: center;
  font-size: 16px;
  grid-template-columns: 2fr 3fr;  
}

.container input,
select {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid var(--color-border);
  outline-color: var(--bg-color2);
  animation-name: move;
  animation-duration: 1s;
}

.container input::placeholder {
  padding-left: 5px;
}

.container form {
  background:var(--bg-color2);
  margin: 30px;
  padding: 10px 25px;
  border-radius: 5px;
  animation-name: fade;
  animation-duration: 0.5s;
}

.container table {
  width: 100%;
  color: var(--text-light);
  animation-name: move;
  animation-duration: 1s;  
}

.container table thead th {
  padding-bottom: 10px;
}

.container table tbody td {
  padding-right: 1rem;
  text-align: center;
}

.container button {
  border: 1px solid var(--bg-color);
  border-radius: 2px;
  width: 100%;
  height: 30px;
  align-items: center;
  color: var(--text-light);
}

.container img {
  width: 30px;
  height: 30px;
}

.container .button-save, .button-update {
  background: var(--bg-button-success);
}

.container .button-save:hover, .button-update:hover {
  background: var(--bg-button-success-dark);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
